.container{
     margin: 0 auto;
     padding: 2rem 1.5rem;
     
     max-width: 420px;
     min-height: 100vh;

     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.title{
     font-size: 2rem;
     font-weight: 500;
     letter-spacing: 0.02em;
     text-transform: uppercase;
}

.subtitle{
     font-size: 1rem;
     font-weight: 500;
     letter-spacing: 0.02em;
}

.form{
     width: 100%;
}

.footer{
     margin-top: auto;

     display: flex;
     flex-direction: column;
     gap: 0.75rem;
}

.secondaryAction {
     background: transparent;
     border: none;
     opacity: 0.7;
     
     font-size: 14px;
     text-align: center;
     color: var(--color-primary);
     
     cursor: pointer;
}
.secondaryAction:hover {
     opacity: 1;
     text-decoration: underline;
}