@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./styles/variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;

  font-family: Inter, sans-serif;
  background-color: var(--color-light);
  color: var(--color-primary);
}